<%- include('partials/header') %>
<%- include('partials/navbarGoBack') %>

<div class="container-fluid d-flex justify-content-center py-5">
    <div class="card--auth card">
        <div class="card-body">
          <h2 class="card-title text-center">Welcome to the club.</h2>
            <div class="text-center">
                <a href="/" class="btn btn-warning">Ok</a>
            </div>
        </div>
      </div>
</div>


<%- include('partials/footer') %>