<%- include('partials/header') %>
<%- include('partials/navbarGoBack') %>

<div class="container-fluid d-flex justify-content-center py-5">
    <div class="card--auth card">
        <div class="card-body">
          <h2 class="card-title text-center">Sign up</h2>
          <form method="POST">
            <div class="mb-3">
                <label for="firstname" class="form-label">First name</label>
                <input type="text" name="firstname" id="firstname" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Last name</label>
                <input type="text" name="lastname" id="lastname" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" minlength="3" required>
            </div>
            <div class="mb-3">
                <label for="confirmpassword" class="form-label">Confirm password</label>
                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" required>
            </div>
            <div class="text-center">
                <button class="btn btn-danger">Confirm</button>
            </div>
          </form>
        </div>
      </div>
</div>

<script src="/static/main.js"></script>

<%- include('partials/footer') %>